networkx
inflect
Cython
Pillow >= 10.0
wikitools3==3.0.1
hypothesis >= 6.97.0
jinja2
jsonpickle
lark==1.1.8
mypy
numpy == 1.26
pymupdf
pytest >= 8.0.0
pytest-console-scripts
pytest-randomly
pytest-subtests
reportlab >= 4.1.0
ruff >= 0.3.0
typing_extensions
